//========================// GLOBAL STYLES//==========================//

.btn {
    background-color: #fff;
    border: 1px solid $quaternary-color;
    color: $quaternary-color;
    font-size: 8px;
    letter-spacing: 2px;
    padding: 10px 12px;
    text-decoration: none;
    margin: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.btn:hover {
    background-color: $base-color;
    cursor: pointer;
    border: 1px solid $base-color;
}


body {
    margin: 0;
    font-family: aviano-future, sans-serif;
    font-weight: 400;
    color: $quaternary-color;
    overflow: hidden;

    .App {
        text-align: center;
    }
}