@import "./Variables.scss";
@import "./Navigation.scss";
@import "./Global.scss";


.Home {
    .home-container {
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .header-section {
            text-align: left;
            margin-left: 150px;
            margin-top: 100px;

            .circle-container {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 25px;

                .circle {
                    width: 100%;
                    text-align: right;
                    border: 1px solid $base-color;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: $base-color;
                    color: $quaternary-color;
                    font-family: $hand-written-font;
                    font-weight: 700;
                    font-size: 20px;
                }
            }

            .header-one,
            .header-two,
            .header-three{
                font-size: 2em;
                margin-bottom: 15px;
                font-weight: 800;
            }

            .flex-section {
                display: flex;
                align-items: center;

                .job-titles {
                    height: 50px;
                    overflow: hidden;

                    .title-item {
                        height: 50px;
                        font-size: 2em;
                        font-family: $hand-written-font;
                        font-weight: 700;
                        color: $primary-color;
                        display: flex;
                        align-items: center;
                    }
                }

                .job-title {
                    font-size: 1.5em;
                    font-weight: 300;
                    font-style: italic;
                    margin-left: 10px;
                    padding-top: 8px;
                }
            }

            .home-buttons {
                margin-top: 20px;
            }
        }

        .home-vector {
            width: 50%;
            margin-right: 100px;
        }

        .background-vector {
            width: 50%;
            position: absolute;
            bottom: -20px;
            left: 0;
            z-index: -9999;
        }

        .background-vector2 {
            height: 50%;
            width: 10%;
            position: absolute;
            right: 0;
            top: 10%;
            z-index: -9999;
        }
    }
}

@media screen and (max-width: 1450px) {
    .home-vector {
        width: 40% !important;
        margin-top: 5%;
    }
}

@media screen and (max-width: 1055px) {
    .header-section {
        margin-left: 50px !important;
    }
}

@media screen and (max-width: 955px) {
    .home-vector {
        width: 50%;
        margin-right: 50px !important;
    }
}

@media screen and (max-width: 955px) {
    .home-container{
        margin-top: 150px;
        .home-vector {
            width: 50%;
            margin-right: 50px !important;
        }
    }
}
@media screen and (max-width: 805px) {

    .home-container{
        justify-content: center !important;
        margin-top: 50px;
        .header-section {
            margin-left: 0 !important;
            margin-top: 0 !important;
            .header-one,
            .header-two,
            .header-three{
                font-size: 1em !important;
                margin-bottom: 10px;
                font-weight: 700 !important;
            }
        }
        .home-vector {
            margin: 0 !important;
        }
    }
}

@media screen and (max-width: 640px) {

    .home-container{
        margin-top: -50px;
        .header-section {
            text-align: center !important;
        }
        .home-vector {
            display: none;
        }
    }
}

@media screen and (max-width: 420px) {

    .home-container{
        margin-top: 0;
        .header-section {
            .header-one,
            .header-two,
            .header-three{
                font-size: 1.5em !important;
            }
            .job-title{
                font-size: 1.2em !important;
            }
        }
    }
}
@media screen and (max-width: 320px) {

    .home-container{
        margin-top: 50px;
        .header-section {
            .header-one,
            .header-two,
            .header-three{
                font-size: 1em !important;
            }
            .job-title{
                font-size: 1em !important;
            }
        }
    }
}