@import "./Variables.scss";
@import "./Navigation.scss";
@import "./Global.scss";

    .Skills {
        .skills-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 10vh;
    
            .tech-skills {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 50%;
    
                span {
                    font-size: 2em;
                    margin-bottom: 20px;
                    width: 100%;
                    font-family: $section-font;
                    font-weight: 700;
                    color: #ccc;
                    text-shadow: 2px 2px 8px  lightyellow;
                }
    
                table {
    
                    tr {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
    
                        td {
                            font-family: $main-font;
                            border: 1px solid #ccc;
                            background-color: rgba(255,208,62,0.2);
                            box-shadow: 0 0 20px 0px lightyellow;
                            padding: 10px;
                            width: 200px;
                            margin: 5px;
                        }
                    }
                }
            }
    
            .skills-animation {
                width: 50%;
    
                .stage-cube-cont {
                    padding-top: 10vh;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
    
                .cubespinner {
                    animation-name: spincube;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-duration: 12s;
                    transform-style: preserve-3d;
                    transform-origin: 100px 100px 0;
                    margin-left: calc(50% - 100px);
    
                    div {
                        position: absolute;
                        width: 200px;
                        height: 200px;
                        border: 1px solid #ccc;
                        background: rgba(255, 255, 255, 0.4);
                        font-size: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 20px 0px lightyellow;
                    }
    
                    .face1 {
                        transform: translateZ(100px);
                        color: #dd0031;
                    }
    
                    .face2 {
                        transform: rotateY(90deg) translateZ(100px);
                        color: #f06529;
                    }
    
                    .face3 {
                        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
                        color: #28a4d9;
                    }
    
                    .face4 {
                        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
                        color: #5ed4f4;
                    }
    
                    .face5 {
                        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
                        color: #efd81d;
                    }
    
                    .face6 {
                        transform: rotateX(-90deg) translateZ(100px);
                        color: #ec4d28;
                    }
                }
    
                @keyframes spincube {
    
                    from,
                    to {
                        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                    }
    
                    16% {
                        transform: rotateY(-90deg) rotateZ(90deg);
                    }
    
                    33% {
                        transform: rotateY(-90deg) rotateX(90deg);
                    }
    
                    50% {
                        transform: rotateY(-180deg) rotateZ(90deg);
                    }
    
                    66% {
                        transform: rotateY(-270deg) rotateX(90deg);
                    }
    
                    83% {
                        transform: rotateX(90deg);
                    }
                }
            }
    
            .soft-skills {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 80%;
                margin-top: 20vh;
                margin-bottom: 10vh;
                margin-left: auto;
                margin-right: auto;
    
                span {
                    font-size: 2em;
                    margin-bottom: 20px;
                    width: 100%;
                    font-family: $section-font;
                    font-weight: 700;
                    color: #ccc;
                    text-shadow: 2px 2px 8px  lightyellow;
                }
    
                table {
                    tr {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
    
                        td {
                            font-family: $main-font;
                            border: 1px solid #ccc;
                            background-color: rgba(255,208,62,0.2);
                            box-shadow: 0 0 20px 0px lightyellow;
                            padding: 10px;
                            width: 200px;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 1024px) {
        .Skills {
            .skills-container{
                justify-content: center;
                .tech-skills{
                    padding-left: 50px;
                    padding-right: 50px;
                }
                .skills-animation{
                    padding-bottom: 200px;
                    padding-top: 100px;
                    width: 100%;
                    .stage-cube-cont{
                        height: 500%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 720px) {
        .Skills {
            .skills-container{
                justify-content: center;
                .tech-skills{
                    padding-left: 50px;
                    padding-right: 50px;
                }
                .skills-animation{
                    padding-bottom: 150px;
                    padding-top: 80px;
                }
            }
        }
    }

